{% extends 'base.html' %}
{% block content %}
<div class="container mt-4 col-lg-8 col-md-8 col-sm-10 ms-2">
    <div class="row align-items-start justify-content-center gap-3">
        <div class="col p-4 justify-content-center customer-color">
            <div class="text title-text">
                <span class="title"><b>DASHBOARD</b></span>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="col-12 p-4 text-white rounded change-colors">
                    <iframe src="http://localhost:8080/d-solo/fe4yq2y5cq5tsf/comunas-por-ciudad?from=1732475805015&to=1732497405016&timezone=browser&orgId=1&panelId=1&__feature.dashboardSceneSolo" ></iframe>
                    <iframe src="http://localhost:8080/d-solo/fe4yq2y5cq5tsf/comunas-por-ciudad?from=1732475805015&to=1732497405016&timezone=browser&orgId=1&panelId=1&__feature.dashboardSceneSolo" ></iframe>
                    <iframe src="http://localhost:8080/d-solo/fe4yq2y5cq5tsf/comunas-por-ciudad?from=1732475805015&to=1732497405016&timezone=browser&orgId=1&panelId=1&__feature.dashboardSceneSolo" ></iframe>
                    <iframe src="http://localhost:8080/d-solo/fe4yq2y5cq5tsf/comunas-por-ciudad?from=1732475805015&to=1732497405016&timezone=browser&orgId=1&panelId=1&__feature.dashboardSceneSolo" ></iframe>
                    <iframe src="http://localhost:8080/d-solo/fe4yq2y5cq5tsf/comunas-por-ciudad?from=1732475805015&to=1732497405016&timezone=browser&orgId=1&panelId=1&__feature.dashboardSceneSolo" ></iframe>
                    <iframe src="http://localhost:8080/d-solo/fe4yq2y5cq5tsf/comunas-por-ciudad?from=1732475805015&to=1732497405016&timezone=browser&orgId=1&panelId=1&__feature.dashboardSceneSolo" ></iframe>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}