{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 p-4 rounded change-colors">
            <h5 class="mb-1 text-center"><b>ALERTAS</b></h5>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Sala</th>
                            <th scope="col">Alerta</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for alerta in alertas %}
                        <tr>
                            <td>{{ alerta.fecha }}</td>
                            <td>{{ alerta.sala }}</td>
                            <td>{{ alerta.tipo_error.nombre }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}