{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 col-lg-8 col-md-8 col-sm-10 ms-2">
    <div class="row align-items-start justify-content-center gap-3">
        <div class="col-12 p-4 justify-content-center rounded change-colors">
            <h5 class="mb-1 text-center"><b>SUBIR PLANIFICACIÓN</b></h5>
            <div class="text-center" style="height: 50px;">
                <button type="button" class="btn btn-primary button">CARGAR PLANIFICACIÓN</button>
            </div>
            <p class="mb-1 text-center">Subir la planificación de clases de una semana, debe estar contenido en un
                archivo con extensión .xlsx</p>
        </div>
    </div>
</div>
{% endblock content %}
