{% extends 'base.html' %}

{% block content %}
<div class="container mt-4 col-lg-8 col-md-8 col-sm-10 ms-2">
    <div class="row align-items-start justify-content-center gap-3">
        <div class="col p-4 justify-content-center customer-color">
            <form method="POST" action="{% url 'registrar' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary button">Registrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}